.footer {
  @include background-fill();
  background: url('../images/office-background.png') 0 0 / cover no-repeat;
  &__container {
    padding: 70px 10px;
  }
  &__top-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 26px;
    letter-spacing: 0.4px;
    text-align: left;
    color: #ffffff;
    margin-bottom: 70px;
  }
  &__about {
    flex: 0 0 calc(100% / 3);
  }
  &__about-logo {
    margin-bottom: 25px;
  }
  &__about-text {
    margin-top: 27px;
    padding-right: 36px;
  }
  &__contacts {
    flex: 0 0 calc(100% / 3);
  }
  &__contacts-logo {
    font-size: 15px;
    font-weight: 900;
    padding: 12.25px 0;
    margin-bottom: 25px;
  }
  &__contacts-text {
    padding-right: 10px;
    padding-left: 30px;
    margin-bottom: 10px;
    position: relative;
    &:before {
      content: '';
      position: absolute;
      width: 14px;
      height: 19px;
      background: url('../images/footer/adress.png');
      top: 5px;
      left: 0;
    }
  }
  &__contacts-phone {
    padding-right: 10px;
    padding-left: 30px;
    position: relative;
    &:before {
      content: '';
      position: absolute;
      width: 17px;
      height: 17px;
      background: url('../images/footer/phone.png');
      top: 5px;
      left: 0;
    }
  }
  &__in-touch {
    flex: 0 0 calc(100% / 3);
    padding-left: 22px;
  }
  &__in-touch-logo {
    font-size: 15px;
    font-weight: 900;
    padding: 12.25px 0;
    margin-bottom: 25px;
  }
  &__in-touch-form {
    display: flex;
    margin-bottom: 27px;
  }
  &__in-touch-input {
    width: 211px;
    border: 1px solid #88868e;

    margin-right: 10px;
    margin-bottom: 0;
    &::placeholder {
      color: rgba(255, 255, 255, 0.75);
    }
    &:focus {
      border: 1px solid #fff;
      color: #fff;
    }
  }
  &__in-touch-submit {
    opacity: 0.5;
    border: solid 1px #ffffff;
    background-color: #ffffff;
    padding: 0;
    width: 70px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0px;
    &:hover {
      opacity: 1;
      background-color: #ffffff;
    }
  }
  &__in-touch-list {
    display: flex;
    flex-wrap: wrap;
  }
  &__in-touch-item {
    margin-right: 8px;
  }
  &__bottom-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  &__links-list {
    display: flex;
    flex-wrap: wrap;
  }
  &__links-item {
    margin-right: 31px;
    a {
      font-family: Roboto;
      font-size: 14px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.86;
      letter-spacing: 0.35px;
      text-align: right;
      color: #ffffff;
      text-decoration: none;
    }
  }
  &__copy {
    font-family: Roboto;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.86;
    letter-spacing: 0.35px;
    text-align: right;
    color: #ffffff;
  }
  @media (max-width: (980px)) {
    &__in-touch {
      margin-top: 70px;
      max-width: 350px;
      width: 100%;
      padding: 0;
    }
    &__in-touch-input {
      width: 100%;
    }
  }
  @include x-small {
    &__top-row {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    &__about {
      max-width: 100%;
      text-align: center;
      margin-bottom: 40px;
    }
    &__about-logo {
      display: flex;
      justify-content: center;
    }
    &__about-text {
      padding: 0;
    }
    &__contacts {
      max-width: 100%;
      text-align: left;
    }
    &__contacts-logo {
      text-align: center;
    }
    &__contacts-text {
      &:before {
      }
    }
    &__contacts-phone {
      &:before {
      }
    }
    &__in-touch {
    }
    &__in-touch-logo {
    }
    &__in-touch-form {
    }
    &__in-touch-input {
      margin-bottom: 0;
      &:focus {
      }
    }
    &__in-touch-submit {
      border-radius: 0px;
      &:hover {
      }
    }
    &__in-touch-list {
    }
    &__in-touch-item {
    }

    &__bottom-row {
    }
    &__links-list {
    }
    &__links-item {
    }
  }
}
