.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 5;
  padding-top: 15px;
  padding-bottom: 15px;
  background: transparent;
  transition: all 0.2s;

  &__nav {
    display: flex;
    justify-content: space-between;
  }
  &__logo {
    font-family: Roboto;
    font-weight: 100;
    font-size: 30px;
    color: $color-blue;
    display: flex;
    align-items: center;
    svg {
      margin-right: 11px;
    }
  }
  &__nav-bar {
    display: flex;
    align-items: center;
  }
  &__nav-list {
    display: flex;
    justify-content: space-between;
  }
  &__nav-item {
    margin: 10px 26px 10px 0px;
  }
  &__nav-link {
    text-transform: uppercase;
    text-decoration: none;
    font-family: Roboto;
    font-size: 13px;
    font-weight: 900;
    transition: all 0.15s ease-in;
    color: #fff;
    &:hover {
      color: #00e0d0;
    }
  }
  
}

._is_scrolling {
  background: #2e274d;
  padding-top: 10px;
  padding-bottom: 10px;
}
