.our-story {
  .container {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 70px;
    .our-story__image {
      margin-right: 100px;
    }
    .our-story__content {
      max-width: 100%;
      h2 {
        text-transform: uppercase;
        font-family: PlayfairDisplay;
        font-size: 22px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: 1.1px;
        text-align: left;
        color: #413d4b;
      }
      p {
        font-family: Roboto;
        font-size: 14px;
        font-weight: 300;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.57;
        letter-spacing: 0.42px;
        text-align: left;
        color: rgba(65, 61, 75, 0.75);
      }
      * {
        margin-bottom: 30px;
      }
      *:last-child {
        margin-bottom: 0px;
      }
    }
  }
}
