.our-story {
  padding-top: 70px;
  padding-bottom: 70px;
  &__container {
    display: flex;
  }
  &__image {
    margin-right: 100px;
  }
  &__content {
    max-width: 100%;
    h2 {
      text-transform: uppercase;
      font-family: PlayfairDisplay;
      font-size: 22px;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: 1.1px;
      text-align: left;
      color: #413d4b;
    }
    p {
      font-family: Roboto;
      font-size: 14px;
      font-weight: 300;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.57;
      letter-spacing: 0.42px;
      text-align: left;
      color: rgba(65, 61, 75, 0.75);
    }
    * {
      margin-bottom: 30px;
    }
    *:last-child {
      margin-bottom: 0px;
    }
  }
}
