@import '/src/styles/components/cards-item';
.team {
  padding-top: 70px;
  padding-bottom: 70px;
  background: url('/src/images/seconds-forest-background.png') 0 0 / cover
    no-repeat;
  display: flex;
  justify-content: center;
  @include background-fill();
  &__logo {
    h3 {
      color: #fff;
    }
    p {
      color: #f9f9f9;
      &::after {
        background-color: #f9f9f9;
      }
    }
  }
  &__cards-list {
    display: flex;
    justify-content: center;
    margin-bottom: 70px;
    max-width: 960px;
  }
  &__button-form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__moto {
    font-family: Roboto;
    font-size: 14px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.7px;
    text-align: center;
    color: #f3f3f3;
    margin-bottom: 26px;
  }
  @include medium {
    &__cards-list {
      max-width: 690px;
      flex-wrap: wrap;
    }
    &__cards-item {
      margin-bottom: 10px;
    }
  }
}
