.watch-our-story {
  background: url('/src/images/city-background.png') 0 0 / cover no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 200px;
  padding-top: 200px;
  @include background-fill();
  .watch-our-story__play {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .container {
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    
    button {
      padding: 0;
      border: none;
      margin-bottom: 34px;
    }
    button:hover {
      border: none;
      background-color: transparent;
    }
    p {
      text-transform: uppercase;
      font-family: Roboto;
      font-size: 16px;
      font-weight: 900;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: 0.8px;
      text-align: center;
      color: #ffffff;
    }
  }
}
