.block-logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h3 {
      font-family: 'Playfair Display';
      font-size: 22px;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: 1.1px;
      text-align: center;
      color: #413d4b;
      margin-bottom: 16px;
    }
    p {
      font-family: 'Playfair Display';
      font-size: 14px;
      font-weight: 400;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      text-align: center;
      color: rgba(47, 45, 53, 0.75);
      margin-bottom: 35px;
      padding-bottom: 15px;
      position: relative;
      &::after {
        position: absolute;
        content: '';
        width: 50px;
        height: 2px;
        opacity: 0.3;
        background-color: #413d4b;
        top: 100%;
        right: 49%;
        transform: translate(50%);
      }
    }
  }