.cards {
  max-width: 100%;
  ul {
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    li {
      display: flex;
      flex-direction: column;
      margin-right: 20px;
      .cards__image {
        height: 229px;
        width: 220px;
        background-color: #fff;
      }
      .cards__text {
        text-align: center;
        padding-top: 23px;
        padding-bottom: 25px;
        border: solid 1px #e1e1e1;
        border-top: none;
        .name {
          font-family: Roboto;
          font-size: 14px;
          font-weight: 900;
          letter-spacing: 0.7px;
          color: #ffffff;
          margin-bottom: 12px;
        }
        .classification {
          font-family: Roboto;
          font-size: 13px;
          font-weight: 300;
          color: rgba(250, 250, 250, 0.7);
        }
      }
    }
    li:last-child {
      margin-right: 0px;
    }
  }
}
