.tajam-input {
  font-family: Roboto;
  background: transparent;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 0.7px;
  text-align: left;
  margin-bottom: 21px;
  color: #413d4b;
  padding: 14px 20px;
  border: 1px solid #e5e5e5;
  outline: none;
  box-sizing: border-box;
  // transition: 0.2s ease-out;
}
