@import './vendor/normalize';
// @import './vendor/modal-video.min.css';

@import './base/reset';

@import './abstract/fonts';
@import './abstract/variables';
@import './abstract/mixins/_background-fill';
@import './abstract/mixins/breakpoint';

@import './components/button';
@import './components/input';
@import './components/form';
@import './components/block-logo';
@import './components/main-logo';

@import './layout/header';
@import './layout/intro';
@import './layout/our-story';
@import './layout/watch-our-story';
@import './layout/expertise';
@import './layout/team';
@import './layout/our-works';
@import './layout/about';
@import './layout/contact';
@import './layout/footer';

.container {
  max-width: 960px;
  margin: 0 auto;
  z-index: 2;
}
html {
  scroll-behavior: smooth;
}
section {
  position: relative;
}

.modal-video-lock {
  overflow: hidden;
}

.jquery-modal.blocker {
  z-index: 100000;
}