@import './base/reset';
@import './abstract/fonts';
@import './abstract/variables';
@import '/src/styles/components/button';
@import '/src/styles/components/block-logo';
@import '/src/styles/components/cards';
@import '/src/styles/layout/header';
@import '/src/styles/layout/our-story';
@import '/src/styles/layout/watch-our-story';
@import '/src/styles/layout/expertise';
@import '/src/styles/layout/team';
@import '/src/styles/layout/our-works';


.container {
  padding-top: 15px;
  max-width: 960px;
  margin: 0 auto;
}
