@mixin font-face($font-family, $file-path, $weight: normal, $style: normal) {
  @font-face {
    font-family: $font-family;
    font-weight: $weight;
    font-style: $style;
    src: url('../fonts/converted/#{$file-path}.eot');
    src: local('☺'), url('../fonts/converted/#{$file-path}.woff') format('woff'),
      url('../fonts/converted/#{$file-path}.ttf') format('truetype'),
      url('../fonts/converted/#{$file-path}.svg') format('svg');
  }
}

